body {
  margin: 0px;
}
.Header {
  box-shadow: 0px 8px 10px grey;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.logo {
  width: 150px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links > ul {
  font-size: 18px;
  list-style-type: none;
  display: flex;
}
.nav-links > ul > li {
  padding: 0 20px;
}
.login-btn {
  margin: 0px 5px;
  padding: 0px 10px;
  width: 75px;
}
.login-btn:hover {
  cursor: pointer;
}
.app-body {
  padding: 20px 50px;
}
.search {
  padding: 20px 0px;
  margin: 5px;
}
.restaurant-card {
  border: 1px solid #f0f0f0;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.restaurant-card:hover {
  box-shadow: 1px 8px 20px grey;
  cursor: pointer;
}
.restaurant-img {
  width: 100%;
  height: 160px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}
.search-container {
  display: block;
  border: 1px solid gray;
  width: fit-content;
  margin: 10px 0px;
}
.search-container > button:hover {
  cursor: pointer;
}

.restaurant-card-shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px;
}
.restaurant-card-shimmer {
  border: 1px solid #f0f0f0;
  width: 200px;
  height: 300px;
  padding: 5px;
  margin: 5px;
  background-color: #f0f0f0;
}
.menu-card {
  margin: 40px;
}

.user-card {
  margin: 0px;
  padding: 0px 10px;
  background-color: #f0f0f0;
}
